.container
  .row
    .col-lg-12
      %h1 Справка и инструкции
      %p Справка в стадии наполенния. Пока предлагаем воспользоваться комментариями.

      = render :partial => 'layouts/vk'
       
     