.container
  .row
    .col-lg-12
    %h1 Поддержать проект
    %p
      На данный момент проект является полностью бесплатным. Мы видим разные пути монетизации проекта, но для этого нужно потратить определённое колличество человек/часов, чтобы привести проект в состояние близкое к иделаьному.

    %h2 Список запланированных доработок
    %ul
      %li Добавление плагинов, для популярных cms и социальных сетей.
      %li Написание статей, видео, справки.
      %li Написание тестов системы.
      %li Мелкие доработки в дизайне и юзер интерфейсе.
      %li Добавление прокси.
      %li Сервисы антикапча.
      %li Авторизация на сайте перед парсингом.
      %li Правка найденных багов.
      %li Автоматическое редактирование изображений.
      %li Уведомления.
      %li Расширенный лог парсинга.


    %p
      Данный список является не полным и показывает, что в переди много работы. Если у вас появились какие либо предложения напишите нам на почту 
      %a{:href => "mailto:com@pbender.ru"} com@pbender.ru
      \.




